/* Navbar background color */
.navbar {
  background-color: #333;
}

/* Navbar link color (default) */
.navbar .nav-link {
  color: white;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Navbar link color on hover */
.navbar-nav .nav-item:hover .nav-link{
  color: red;
}

/* Show dropdown on hover for large screens */
@media (min-width: 992px) { 
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav .dropdown .dropdown-menu {
    margin-top: 0;
  }
}

/* Smooth dropdown transition */
.dropdown-menu {
  transition: all 0.3s ease;
}

/* Align language dropdown to the right */
.navbar-nav.ml-auto .dropdown-menu {
  right: 0;
  left: auto;
}